body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

canvas {
    display: block;
    background-color: #e0e0e0;
    margin: 100px auto;
    width: 1000px;
    border: 2px solid black;
    border-radius: 10px;
}